@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

body{
width: 100%;
}

// HEADER//
header {
  width: 100%;
  font-size: 1.5em;
  position: fixed;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 50px;
  background: white;
}
header button{
  height: 70%;
}
.container {
  width: 100%
}
button {
  border-style: none;
  background: #1876f2;
  border-radius: 5px;
  padding-left: 10px;
  padding-right: 10px;
  color: white;
  
}
form .button {
  border-style: none;
  background: #1876f2;
  border-radius: 5px;
  color: white;
}
button:hover{
  cursor: pointer;
}

// SUBSCRIPTION //
section .form{
  height: 600px;
}

.form{
  margin: auto;
  font-size: 2em;
  background: url(/content/bg-masthead.jpg);
  height: 600px;
  width: 100%;
  overflow: hidden;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.form-2{
  margin: auto;
  background: url(/content/bg-masthead.jpg);
  height: 300px;
  width: 100%;
  font-size: 2em;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
form{
  max-width: 500px;
  margin: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
input{
  line-height: 20px;
  padding: 5px;
  border-radius: 4px;
  border-style: none;
}
input[type=button], input[type=submit], input[type=reset] :hover {
  background: #1876f2;
  cursor: pointer;
  color: white;
}
input [type=text]{
  line-height: 10px;
}
h1{
  text-align:center;
  width: 50%;
  color: white;
}

// ICON SECTION //
i {
  height: auto;
}
.option {
  font-size: 1.3em;
  width: 100%;
  max-height: 1000px;
  background: whitesmoke;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}
.option p{
  color: grey;
  text-align: center;
  margin: 20px;
}
.icon{
  width: 400px;
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 20px;
}
.icon img{
  color: #1876f2;
  width: 100px;
  height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 20px;
}

// MAIN //
main {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
main p{
  text-align: justify;
  color: grey;
  padding-top:10px;
  display: flex;
  flex-wrap: wrap;

}
img{
  width: 50%;
  display: flex;
  background-size: cover;
}
.section-1{
  font-size: 1.8em;
  width: 100%;
  height: 600px;
  display: flex;
  flex-direction: row;
}
section .text-1 {
  display: flex;
  width: 50%;
  padding-left: 50px;
  padding-right: 50px;
}
.section-1 img {
  width: 50%;
  display: flex;
  background-size: cover;
  justify-content: center;
}
.section-2{
  font-size: 1.8em;
  width: 100%;
  height: 600px;
  display: flex;
  flex-direction: row-reverse;
}
.section-2 img {
  width: 50%;
  display: flex;
  background-size: cover;
  justify-content: center;
}
main .text-1 {
  padding: 100px;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.section-3{
  font-size: 1.8em;
  width: 100%;
  height: 600px;
  display: flex;
  flex-direction: row;
}
.section-3 img {
  width: 50%;
  display: flex;
  background-size: cover;
  justify-content: center;
}

// TESTIMONIALS//
.testimonial {
  max-height: 1400px;
  padding-top: 50px;
  padding-bottom: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background: whitesmoke;
}

.test-header{
  display: flex;
  justify-content: center;
  padding: 20px;
}
.people {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  
}
.person{
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.person img {
  height: 200px;
  width: 200px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.8) 0px 3px 8px;;
}
.person p{
  color: grey;
}
// FOOTER //
footer .content{
  height: 100px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  align-items: center;
}
footer .social{
  display: flex;
}

footer .icon2 {
  width: 40px;
  height: 40px;
  margin: 5px;
  color: #1876f2;
  display: flex;
  justify-content: center;
  align-items: center;
}
.icon2:hover{
  cursor: pointer;
}
footer a{
  color: #1876f2;
}
footer p {
  color: grey;
  padding: 10px;
}
.reference{
  text-align: justify;
}


// MEDIA//

@media (max-width: 768px){
  .form {
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
  }
  .option {
    flex-direction: column;
    height: 1400px;
    width: 100%;
  }
  main{
    width: 100% !important;
    flex-direction: column !important;
  }

  .section-1{
    flex-direction: column !important;
    height: 100% !important;
  }

  .section-1 img{
    width: 100% !important;
    height: 50%  !important;
  }

  .text-1{
    width: 100% !important;
    height: 50% !important;
  }

  .section-2{
    flex-direction: column !important;
    height: 100% !important;
  }

  .section-2 img{
    width: 100% !important;
    height: 50% !important;
  }

  .section-2 .text-1{
    width: 100% !important;
    height: 50% !important;
  }

  .section-3{
    flex-direction: column !important;
    height: 100% !important;
  }
  .section-3 img{
    width: 100% !important;
    height: 50% !important;
  }
  .section-3 .text-1{
    width: 100% !important;
    height: 50% !important;
  }

  .img{
    order: -1;
    width: 100%;
  }
  
  

  .people{
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }
  .person{
    margin: 20px;
  }
  .content{
    flex-direction: column-reverse !important;
    margin-top: 100px;
    margin-bottom: 100px;
  }}

@media (max-width: 500px){
  .form {
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
  }
  section{
    width: 100%;
    flex-direction: column;
  }
  .form button {
    justify-content: last baseline;
  }
  .option {
    flex-direction: column;
    height: 1400px;
    width: 100%;
  }
  main{
    flex-direction: column !important;
  }
  .section-1{
    flex-direction: column !important;
  }
  .section-2{
    flex-direction: column !important;
  }
  .section-3{
    flex-direction: column !important;
  }
  .img{
    order: 1;
    width: 100%;
  }
  .section-2 img{
    flex-direction: column !important;
  }
  .section-3 img{
    flex-wrap: wrap;
    flex-direction: column !important;
  }
  .people{
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }
  .person{
    margin: 20px;
  }
  .form-2{
    font-size: 1.2em;
  }
  .content{
    flex-direction: column-reverse !important;
    margin-top: 100px;
    margin-bottom: 100px;
  }}